<div>
 <h3>New Event</h3>
    <form action="/events/create" method="POST" enctype="multipart/form-data">

    <label for="photo">Upload an Event Pic</label>
    <input type="file" name="event-image" />
    <br>
    <label for="name">Name of the event: </label>
    <input type="text" name="name" required="true" autocomplete="false">
    <br />
    <label for="eventType">Type of event: </label>
     {{#each ../eventType}}
         <option value="{{this}}">{{this}}</option>
      {{/each}}
    <br />

    <label for="description">Description: </label>
    <input type="text" name="description" required="true" autocomplete="false">
    <br>
    <label for="place">Place of the event: </label>
    <input type="text" name="place" required="true" autocomplete="false">
    <br>
    <label for="date">Date of the event: </label>
    <input type="date" name="date" required="true" autocomplete="false">
    <br>
    <label for="hour">Hour of the event: </label>
    <input type="text" name="hour" required="true" autocomplete="false">
   
    <button>Create Event</button>
    </form>

</div>