<div>
    <h1 class="section-title">Acces to your account</h1>
    <form action="/auth/login" method="POST">
    <label for="email">email: </label>
    <input type="email" name="email">
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password">

    <br />
    <p style="color: red">{{errorMessage}}</p>
        <br />
    <button class="btn">Log in</button>
    </form>
</div>