<div>
    <h1 class="section-title">Create your account</h1>
    
    <form action="/auth/signup" method="POST">
        
         <label for="firstName">Name:</label>
        <input type="text" name="firstName">
<br>
        <label for="email">Email:</label>
        <input type="email" name="email">
       
            <br>
        
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <label for="department">Department: </label>
        <select class="form-select" name="department" multiple="false">
            <option value="cook">Cook</option>
            <option value="receptionist">Receptionist</option>
            <option value="restaurant">Restaurant</option>
            <option value="reservations">Reservations</option>
        </select>
        
       <p style="color: red"><strong>{{errorMessage}}</strong></p> 
        
        <button class="btn">Sign up</button>
    </form>

</div>
