 {{!-- feeds from Log.model con WITH ... --}}
    <h2>WORKLOG time:{{time}}</h2>
    <h2>WORKLOG comment:{{comment}}</h2>

    <br>
    
    <form action="/profile" method="POST">

        <label for="comment">Write a comment:</label>
        <input type="text" name="comment">
        <br>
        <label for="time">Time</label>
        <input type="Date" name="time">
        <br>
        <label for="user"></label>
        <input type="text" name="user">
        <br>
        
        <button>WORK LOG</button>

    </form>