
<div id="home-img">
<div id="login-singup">
<h1><img src="https://cdn1.iconfinder.com/data/icons/business-bw-vol-2/100/business-10-40-512.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">{{appTitle}} </h1>
<p>A project from Yago and Helena</p>
</div>
</div>