@import url('https://fonts.googleapis.com/css2?family=Acme&family=Exo:wght@300&family=Shadows+Into+Light&display=swap');

/* font-family: 'Acme', sans-serif;    => titols
font-family: 'Exo', sans-serif;        => text
font-family: 'Shadows Into Light', cursive; => comentaris worklogs
*/  


body {
  padding: 50px;
  font: 14px;
  font-family: 'Exo', sans-serif; 
  background-image: url("../images/fondo.jpg"); 
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  /*margin: 10px, 5px ;*/ 
}

h1 {
  color: 15px;
}

.btn {
  border: solid 1px rgba(8, 157, 216, 0.562);
  background-color: rgb(8, 157, 216, 0.562);
}

.btn > a {
  text-decoration: none;
  color:black
}

.btn:hover {
 background-color: rgb(28, 103, 241, 0.562);
}

.btn-delete {
  border: solid 1px rgba(228, 15, 15, 0.562);
  background-color: rgba(228, 15, 15, 0.562);
}

.btn-delete > a {
  text-decoration: none;
  color:black
}

.btn-delete:hover {
  background-color: rgba(241, 28, 28, 0.877);
}

.nav-link {
  color: rgba(8, 157, 216)
  }

.comment {
  font-family: 'Shadows Into Light', cursive;
}

.section-title {
  font-family: 'Acme', sans-serif; 
 
}

.resalted {
  font-weight: bold;
}

p {
  font-size: large;
}

.form-select {
  width: 250px;
}

.form-control {
  width: 350px
}

.back-btn {
  border: solid 2px rgba(8, 157, 216, 0.562);
  border-radius: 15%;
  
}

.back-btn:hover {
 background-color: gray;
}

/*FER GRID PER DISPLAY EVENTS???
anomenar al 