body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/fondo.jpg"); 
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment: fixed;
 
}

h1 {
  color: 15px;
}

.btn {
  border: solid 1px rgba(8, 157, 216, 0.562);
<<<<<<< HEAD
  background-image: url("../public/images/fondo.jpg"); 
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
*a {
  text-decoration: none;
}
=======
  background-color: rgb(8, 157, 216, 0.562);
}

.btn > a {
  text-decoration: none;
  color:black
}

.btn:hover {
 background-color: rgb(28, 103, 241, 0.562);
}

.btn-delete {
  border: solid 1px rgba(228, 15, 15, 0.562);
  background-color: rgb(228, 15, 15, 0.562);
}

.btn-delete > a {
  text-decoration: none;
  color:black
}

.btn-delete:hover {
  background-color: rgba(241, 28, 28, 0.877);
}

.nav-link {
  color: rgb(0, 204, 204)
  } 

