body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

 a {
  text-decoration: none;
  color:rgb(2, 0, 3)
} 

h1 {
  color: 15px;
}

body {
  background-image: "../public/images/fondo.jpg";
}

/* .a-link {
  text-decoration: nome
} */
button {
 text-decoration: none; 
}



.nav-link {
  color: rgb(0, 204, 204)
  } 

  body {
    background-image: url("../images/fondo.jpg"); 
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
  }
  